In [76]:
import pandas as pd
import numpy as np

In [78]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import accuracy_score, classification_report

In [80]:
df = pd.read_csv("train.csv")

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63154 entries, 0 to 63153
Data columns (total 20 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     63154 non-null  int64
 1   Name                                   63153 non-null  object
 2   Gender                                 63153 non-null  object
 3   Age                                    63153 non-null  float64
 4   City                                   63153 non-null  object
 5   Working Professional or Student        63153 non-null  object
 6   Profession                             46733 non-null  object
 7   Academic Pressure                      12487 non-null  float64
 8   Work Pressure                          50660 non-null  float64
 9   CGPA                                   12487 non-null  float64
 10  Study Satisfaction                     12486 non-null  float64
 11  Job Satisfaction                       50659 non-null  float64
 12  Sleep Duration                         63153 non-null  object
 13  Dietary Habits                         63152 non-null  object
 14  Degree                                 63153 non-null  object
 15  Have you ever had suicidal thoughts ?  63153 non-null  object
 16  Work/Study Hours                       63153 non-null  float64
 17  Financial Stress                       63151 non-null  float64
 18  Family History of Mental Illness       63153 non-null  object
 19  Depression                             63153 non-null  float64
dtypes: float64(9), int64(1), object(10)
memory usage: 9.6+ MB

In [86]:
df.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
count,63154.000000,63153.000000,12487.000000,50660.000000,12487.000000,12486.000000,50659.000000,63153.000000,63151.000000,63153.000000
mean,31575.500111,40.402467,3.131257,2.995697,7.668832,2.933285,2.965317,6.245879,2.990309,0.180577
std,18231.133595,12.400456,1.383522,1.407112,1.461422,1.360152,1.416446,3.855001,1.415915,0.384671
min,0.000000,18.000000,1.000000,1.000000,5.030000,1.000000,1.000000,0.000000,1.000000,0.000000
25%,15787.250000,29.000000,2.000000,2.000000,6.330000,2.000000,2.000000,3.000000,2.000000,0.000000
50%,31575.500000,42.000000,3.000000,3.000000,7.770000,3.000000,3.000000,6.000000,3.000000,0.000000
75%,47363.750000,51.000000,4.000000,4.000000,8.920000,4.000000,4.000000,10.000000,4.000000,0.000000
max,63152.000000,60.000000,5.000000,5.000000,10.000000,5.000000,5.000000,12.000000,5.000000,1.000000

In [88]:
df.isnull().sum()

id                                           0
Name                                         1
Gender                                       1
Age                                          1
City                                         1
Working Professional or Student              1
Profession                               16421
Academic Pressure                        50667
Work Pressure                            12494
CGPA                                     50667
Study Satisfaction                       50668
Job Satisfaction                         12495
Sleep Duration                               1
Dietary Habits                               2
Degree                                       1
Have you ever had suicidal thoughts ?        1
Work/Study Hours                             1
Financial Stress                             3
Family History of Mental Illness             1
Depression                                   1
dtype: int64

In [90]:
df["Depression"].value_counts()

Depression
0.0    51749
1.0    11404
Name: count, dtype: int64

In [92]:
df["Job/Study_Satisfaction"]=df["Job Satisfaction"].combine_first(df["Study Satisfaction"])

In [94]:
df["Job/Study_Satisfaction"]

0        2.0
1        3.0
2        2.0
3        1.0
4        1.0
        ...
63149    4.0
63150    2.0
63151    5.0
63152    5.0
63153    NaN
Name: Job/Study_Satisfaction, Length: 63154, dtype: float64

In [96]:
df.drop(columns=["Job Satisfaction","Study Satisfaction"], inplace=True)

In [98]:
df.drop(columns=["CGPA", "Profession", "id", "Name"], inplace=True)

In [100]:
df.head()

,Gender,Age,City,Working Professional or Student,Academic Pressure,Work Pressure,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Job/Study_Satisfaction
0,Female,49.0,Ludhiana,Working Professional,NaN,5.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0.0,2.0
1,Male,26.0,Varanasi,Working Professional,NaN,4.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1.0,3.0
2,Male,33.0,Visakhapatnam,Student,5.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1.0,2.0
3,Male,22.0,Mumbai,Working Professional,NaN,5.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1.0,1.0
4,Female,30.0,Kanpur,Working Professional,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0.0,1.0

In [108]:
df["Academic/StudyPressure"]=df["Academic Pressure"].combine_first(df["Work Pressure"])

In [110]:
df.head()

,Gender,Age,City,Working Professional or Student,Academic Pressure,Work Pressure,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Job/Study_Satisfaction,Academic/StudyPressure
0,Female,49.0,Ludhiana,Working Professional,NaN,5.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0.0,2.0,5.0
1,Male,26.0,Varanasi,Working Professional,NaN,4.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1.0,3.0,4.0
2,Male,33.0,Visakhapatnam,Student,5.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1.0,2.0,5.0
3,Male,22.0,Mumbai,Working Professional,NaN,5.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1.0,1.0,5.0
4,Female,30.0,Kanpur,Working Professional,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0.0,1.0,1.0

In [112]:
df.drop(columns=["Academic Pressure", "Work Pressure"], inplace=True)

In [70]:
df = df.dropna(subset=['Job/Study_Satisfaction'])

In [114]:
df.isnull().sum()

Gender                                    1
Age                                       1
City                                      1
Working Professional or Student           1
Sleep Duration                            1
Dietary Habits                            2
Degree                                    1
Have you ever had suicidal thoughts ?     1
Work/Study Hours                          1
Financial Stress                          3
Family History of Mental Illness          1
Depression                                1
Job/Study_Satisfaction                   10
Academic/StudyPressure                    7
dtype: int64

In [118]:
df = df.dropna(subset=['Job/Study_Satisfaction'])

In [120]:
df.isnull().sum()

Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Sleep Duration                           0
Dietary Habits                           1
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         2
Family History of Mental Illness         0
Depression                               0
Job/Study_Satisfaction                   0
Academic/StudyPressure                   2
dtype: int64

In [136]:
df=df.dropna(subset=["Academic/StudyPressure"])
df=df.dropna(subset=["Financial Stress"])
df=df.dropna(subset=["Dietary Habits"])

In [138]:
df.isnull().sum()

Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
Job/Study_Satisfaction                   0
Academic/StudyPressure                   0
dtype: int64

In [142]:
label_encoders = {}
for col in df.select_dtypes(include=['object']).columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

In [62]:
df.describe()

,Gender,Age,City,Working Professional or Student,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Job/Study_Satisfaction,Academic/StudyPressure
count,63154.000000,63153.000000,63154.000000,63154.000000,63154.000000,63154.000000,63154.000000,63154.000000,63153.000000,63151.000000,63154.000000,63153.000000,63144.000000,63147.000000
mean,0.552364,40.402467,36.508424,0.802309,17.099075,8.710153,32.263736,0.492590,6.245879,2.990309,0.495218,0.180577,2.958983,3.022503
std,0.497286,12.400456,20.217224,0.398301,4.196259,2.821385,18.497015,0.499981,3.855001,1.415915,0.500013,0.384671,1.405552,1.403507
min,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000
25%,0.000000,29.000000,19.000000,1.000000,15.000000,5.000000,14.000000,0.000000,3.000000,2.000000,0.000000,0.000000,2.000000,2.000000
50%,1.000000,42.000000,35.000000,1.000000,20.000000,9.000000,32.000000,0.000000,6.000000,3.000000,0.000000,0.000000,3.000000,3.000000
75%,1.000000,51.000000,55.000000,1.000000,20.000000,12.000000,50.000000,1.000000,10.000000,4.000000,1.000000,0.000000,4.000000,4.000000
max,2.000000,60.000000,68.000000,2.000000,24.000000,14.000000,76.000000,2.000000,12.000000,5.000000,2.000000,1.000000,5.000000,5.000000

In [144]:
df.head()

,Gender,Age,City,Working Professional or Student,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Job/Study_Satisfaction,Academic/StudyPressure
0,0,49.0,35,1,22,5,22,0,1.0,2.0,0,0.0,2.0,5.0
1,1,26.0,63,1,20,12,40,1,7.0,3.0,0,1.0,3.0,4.0
2,1,33.0,67,0,11,5,12,1,3.0,1.0,0,1.0,2.0,5.0
3,1,22.0,45,1,20,9,17,1,10.0,1.0,1,1.0,1.0,5.0
4,0,30.0,26,1,11,12,17,1,9.0,4.0,1,0.0,1.0,1.0

In [146]:
#create X and Y(target) data
X = df.drop(columns=["Depression"])
y = df["Depression"]

In [148]:
X

,Gender,Age,City,Working Professional or Student,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Job/Study_Satisfaction,Academic/StudyPressure
0,0,49.0,35,1,22,5,22,0,1.0,2.0,0,2.0,5.0
1,1,26.0,63,1,20,12,40,1,7.0,3.0,0,3.0,4.0
2,1,33.0,67,0,11,5,12,1,3.0,1.0,0,2.0,5.0
3,1,22.0,45,1,20,9,17,1,10.0,1.0,1,1.0,5.0
4,0,30.0,26,1,11,12,17,1,9.0,4.0,1,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63148,1,37.0,26,1,15,9,51,0,4.0,3.0,1,3.0,4.0
63149,0,60.0,24,1,20,5,61,1,0.0,4.0,1,4.0,1.0
63150,0,58.0,29,1,20,9,58,1,1.0,1.0,0,2.0,4.0
63151,0,22.0,19,1,15,12,12,1,11.0,2.0,0,5.0,4.0
63152,0,20.0,25,0,11,9,32,0,10.0,3.0,0,5.0,4.0

In [150]:

# Split data into Train, Validation, and Test sets
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

In [152]:
# Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_val = scaler.transform(X_val)
X_test = scaler.transform(X_test)

In [154]:
# Train the Random Forest model
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [156]:
# Validate the model
y_val_pred = rf.predict(X_val)
val_acc = accuracy_score(y_val, y_val_pred)
print(f"Validation Accuracy: {val_acc:.2f}")

Validation Accuracy: 0.94

In [158]:
# Test the model
y_test_pred = rf.predict(X_test)
test_acc = accuracy_score(y_test, y_test_pred)
print(f"Test Accuracy: {test_acc:.2f}")

Test Accuracy: 0.93

In [160]:
# Classification Report
print(classification_report(y_test, y_test_pred))

              precision    recall  f1-score   support

         0.0       0.95      0.97      0.96      7715
         1.0       0.84      0.77      0.80      1756

    accuracy                           0.93      9471
   macro avg       0.89      0.87      0.88      9471
weighted avg       0.93      0.93      0.93      9471