In [180]:
import pandas as pd

In [222]:
df = pd.read_csv("train.csv")

In [224]:
print(df.info())
print(df.describe())
print(df.isnull().sum())
print(df['Depression'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63154 entries, 0 to 63153
Data columns (total 20 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     63154 non-null  int64
 1   Name                                   63153 non-null  object
 2   Gender                                 63153 non-null  object
 3   Age                                    63153 non-null  float64
 4   City                                   63153 non-null  object
 5   Working Professional or Student        63153 non-null  object
 6   Profession                             46733 non-null  object
 7   Academic Pressure                      12487 non-null  float64
 8   Work Pressure                          50660 non-null  float64
 9   CGPA                                   12487 non-null  float64
 10  Study Satisfaction                     12486 non-null  float64
 11  Job Satisfaction                       50659 non-null  float64
 12  Sleep Duration                         63153 non-null  object
 13  Dietary Habits                         63152 non-null  object
 14  Degree                                 63153 non-null  object
 15  Have you ever had suicidal thoughts ?  63153 non-null  object
 16  Work/Study Hours                       63153 non-null  float64
 17  Financial Stress                       63151 non-null  float64
 18  Family History of Mental Illness       63153 non-null  object
 19  Depression                             63153 non-null  float64
dtypes: float64(9), int64(1), object(10)
memory usage: 9.6+ MB
None
                 id           Age  Academic Pressure  Work Pressure  \
count  63154.000000  63153.000000       12487.000000   50660.000000
mean   31575.500111     40.402467           3.131257       2.995697
std    18231.133595     12.400456           1.383522       1.407112
min        0.000000     18.000000           1.000000       1.000000
25%    15787.250000     29.000000           2.000000       2.000000
50%    31575.500000     42.000000           3.000000       3.000000
75%    47363.750000     51.000000           4.000000       4.000000
max    63152.000000     60.000000           5.000000       5.000000

               CGPA  Study Satisfaction  Job Satisfaction  Work/Study Hours  \
count  12487.000000        12486.000000      50659.000000      63153.000000
mean       7.668832            2.933285          2.965317          6.245879
std        1.461422            1.360152          1.416446          3.855001
min        5.030000            1.000000          1.000000          0.000000
25%        6.330000            2.000000          2.000000          3.000000
50%        7.770000            3.000000          3.000000          6.000000
75%        8.920000            4.000000          4.000000         10.000000
max       10.000000            5.000000          5.000000         12.000000

       Financial Stress    Depression
count      63151.000000  63153.000000
mean           2.990309      0.180577
std            1.415915      0.384671
min            1.000000      0.000000
25%            2.000000      0.000000
50%            3.000000      0.000000
75%            4.000000      0.000000
max            5.000000      1.000000
id                                           0
Name                                         1
Gender                                       1
Age                                          1
City                                         1
Working Professional or Student              1
Profession                               16421
Academic Pressure                        50667
Work Pressure                            12494
CGPA                                     50667
Study Satisfaction                       50668
Job Satisfaction                         12495
Sleep Duration                               1
Dietary Habits                               2
Degree                                       1
Have you ever had suicidal thoughts ?        1
Work/Study Hours                             1
Financial Stress                             3
Family History of Mental Illness             1
Depression                                   1
dtype: int64
Depression
0.0    51749
1.0    11404
Name: count, dtype: int64

In [226]:
df.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0.0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1.0
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1.0
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1.0
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0.0

In [228]:
print(df['Depression'].value_counts())

Depression
0.0    51749
1.0    11404
Name: count, dtype: int64

In [188]:
# Check the number of missing values per column
missing_values = df.isnull().sum()

# Check the percentage of missing values per column
missing_percentage = (missing_values / len(df)) * 100

# Display missing value statistics
print(pd.DataFrame({'Missing Values': missing_values, 'Percentage': missing_percentage}))

                                       Missing Values  Percentage
id                                                  0    0.000000
Name                                                1    0.001583
Gender                                              1    0.001583
Age                                                 1    0.001583
City                                                1    0.001583
Working Professional or Student                     1    0.001583
Profession                                      16421   26.001520
Academic Pressure                               50667   80.227697
Work Pressure                                   12494   19.783387
CGPA                                            50667   80.227697
Study Satisfaction                              50668   80.229281
Job Satisfaction                                12495   19.784970
Sleep Duration                                      1    0.001583
Dietary Habits                                      2    0.003167
Degree                                              1    0.001583
Have you ever had suicidal thoughts ?               1    0.001583
Work/Study Hours                                    1    0.001583
Financial Stress                                    3    0.004750
Family History of Mental Illness                    1    0.001583
Depression                                          1    0.001583

In [230]:
df["Job Satisfaction"]

0        2.0
1        3.0
2        NaN
3        1.0
4        1.0
        ...
63149    4.0
63150    2.0
63151    5.0
63152    NaN
63153    NaN
Name: Job Satisfaction, Length: 63154, dtype: float64

In [232]:
df["Job/study Satisfaction"] = df["Job Satisfaction"].combine_first(df["Study Satisfaction"])

In [234]:
df["Job/study Satisfaction"]

0        2.0
1        3.0
2        2.0
3        1.0
4        1.0
        ...
63149    4.0
63150    2.0
63151    5.0
63152    5.0
63153    NaN
Name: Job/study Satisfaction, Length: 63154, dtype: float64

In [236]:
df.drop(columns=["Study Satisfaction", "Job Satisfaction"], inplace=True)

In [106]:
df.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Job/study Satisfaction
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0.0,2.0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1.0,3.0
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1.0,2.0
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1.0,1.0
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0.0,1.0

In [238]:
df.drop(columns=["id", "Name"], inplace=True)

In [240]:
df.head()

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Job/study Satisfaction
0,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0.0,2.0
1,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1.0,3.0
2,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1.0,2.0
3,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1.0,1.0
4,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0.0,1.0

In [242]:
df.drop(columns=["Profession", "CGPA"], inplace=True)

In [244]:
df.head()

,Gender,Age,City,Working Professional or Student,Academic Pressure,Work Pressure,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Job/study Satisfaction
0,Female,49.0,Ludhiana,Working Professional,NaN,5.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0.0,2.0
1,Male,26.0,Varanasi,Working Professional,NaN,4.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1.0,3.0
2,Male,33.0,Visakhapatnam,Student,5.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1.0,2.0
3,Male,22.0,Mumbai,Working Professional,NaN,5.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1.0,1.0
4,Female,30.0,Kanpur,Working Professional,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0.0,1.0

In [246]:
df["Have you ever had suicidal thoughts ?"] = df["Have you ever had suicidal thoughts ?"].map({"Yes": 1, "No": 0})
df["Family History of Mental Illness"] = df["Family History of Mental Illness"].map({"Yes": 1, "No": 0})

In [248]:
df.head()

,Gender,Age,City,Working Professional or Student,Academic Pressure,Work Pressure,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Job/study Satisfaction
0,Female,49.0,Ludhiana,Working Professional,NaN,5.0,More than 8 hours,Healthy,BHM,0.0,1.0,2.0,0.0,0.0,2.0
1,Male,26.0,Varanasi,Working Professional,NaN,4.0,Less than 5 hours,Unhealthy,LLB,1.0,7.0,3.0,0.0,1.0,3.0
2,Male,33.0,Visakhapatnam,Student,5.0,NaN,5-6 hours,Healthy,B.Pharm,1.0,3.0,1.0,0.0,1.0,2.0
3,Male,22.0,Mumbai,Working Professional,NaN,5.0,Less than 5 hours,Moderate,BBA,1.0,10.0,1.0,1.0,1.0,1.0
4,Female,30.0,Kanpur,Working Professional,NaN,1.0,5-6 hours,Unhealthy,BBA,1.0,9.0,4.0,1.0,0.0,1.0

In [250]:
sleep_mapping = {"Less than 5 hours": 1, "5-6 hours": 2, "More than 8 hours": 3}
df["Sleep Duration"] = df["Sleep Duration"].map(sleep_mapping)

diet_mapping = {"Unhealthy": 1, "Moderate": 2, "Healthy": 3}
df["Dietary Habits"] = df["Dietary Habits"].map(diet_mapping)

In [208]:
df.head()

,Gender,Age,City,Working Professional or Student,Academic Pressure,Work Pressure,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Job/study Satisfaction,Academic/Working Satisfaction
0,Female,49.0,Ludhiana,Working Professional,NaN,5.0,More than 8 hours,Healthy,BHM,0.0,1.0,2.0,0.0,0.0,2.0,5.0
1,Male,26.0,Varanasi,Working Professional,NaN,4.0,Less than 5 hours,Unhealthy,LLB,1.0,7.0,3.0,0.0,1.0,3.0,4.0
2,Male,33.0,Visakhapatnam,Student,5.0,NaN,5-6 hours,Healthy,B.Pharm,1.0,3.0,1.0,0.0,1.0,2.0,5.0
3,Male,22.0,Mumbai,Working Professional,NaN,5.0,Less than 5 hours,Moderate,BBA,1.0,10.0,1.0,1.0,1.0,1.0,5.0
4,Female,30.0,Kanpur,Working Professional,NaN,1.0,5-6 hours,Unhealthy,BBA,1.0,9.0,4.0,1.0,0.0,1.0,1.0

In [252]:
df["Academic/Work_Pressure"] = df["Academic Pressure"].combine_first(df["Work Pressure"])

In [254]:
df.head()

,Gender,Age,City,Working Professional or Student,Academic Pressure,Work Pressure,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Job/study Satisfaction,Academic/Work_Pressure
0,Female,49.0,Ludhiana,Working Professional,NaN,5.0,3.0,3.0,BHM,0.0,1.0,2.0,0.0,0.0,2.0,5.0
1,Male,26.0,Varanasi,Working Professional,NaN,4.0,1.0,1.0,LLB,1.0,7.0,3.0,0.0,1.0,3.0,4.0
2,Male,33.0,Visakhapatnam,Student,5.0,NaN,2.0,3.0,B.Pharm,1.0,3.0,1.0,0.0,1.0,2.0,5.0
3,Male,22.0,Mumbai,Working Professional,NaN,5.0,1.0,2.0,BBA,1.0,10.0,1.0,1.0,1.0,1.0,5.0
4,Female,30.0,Kanpur,Working Professional,NaN,1.0,2.0,1.0,BBA,1.0,9.0,4.0,1.0,0.0,1.0,1.0

In [256]:
df.drop(columns=["Academic Pressure", "Work Pressure"], inplace=True)
df.head()

,Gender,Age,City,Working Professional or Student,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Job/study Satisfaction,Academic/Work_Pressure
0,Female,49.0,Ludhiana,Working Professional,3.0,3.0,BHM,0.0,1.0,2.0,0.0,0.0,2.0,5.0
1,Male,26.0,Varanasi,Working Professional,1.0,1.0,LLB,1.0,7.0,3.0,0.0,1.0,3.0,4.0
2,Male,33.0,Visakhapatnam,Student,2.0,3.0,B.Pharm,1.0,3.0,1.0,0.0,1.0,2.0,5.0
3,Male,22.0,Mumbai,Working Professional,1.0,2.0,BBA,1.0,10.0,1.0,1.0,1.0,1.0,5.0
4,Female,30.0,Kanpur,Working Professional,2.0,1.0,BBA,1.0,9.0,4.0,1.0,0.0,1.0,1.0

In [260]:
working_map={"Working Professional":1, "Student":0}
df["Working Professional or Student"]=df["Working Professional or Student"].map(working_map)

In [262]:
df.head()

,Gender,Age,City,Working Professional or Student,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Job/study Satisfaction,Academic/Work_Pressure
0,Female,49.0,Ludhiana,1.0,3.0,3.0,BHM,0.0,1.0,2.0,0.0,0.0,2.0,5.0
1,Male,26.0,Varanasi,1.0,1.0,1.0,LLB,1.0,7.0,3.0,0.0,1.0,3.0,4.0
2,Male,33.0,Visakhapatnam,0.0,2.0,3.0,B.Pharm,1.0,3.0,1.0,0.0,1.0,2.0,5.0
3,Male,22.0,Mumbai,1.0,1.0,2.0,BBA,1.0,10.0,1.0,1.0,1.0,1.0,5.0
4,Female,30.0,Kanpur,1.0,2.0,1.0,BBA,1.0,9.0,4.0,1.0,0.0,1.0,1.0

In [264]:
uniq=unique_values = df['City'].unique()
print(uniq)

['Ludhiana' 'Varanasi' 'Visakhapatnam' 'Mumbai' 'Kanpur' 'Ahmedabad'
 'Thane' 'Nashik' 'Bangalore' 'Patna' 'Rajkot' 'Jaipur' 'Pune' 'Lucknow'
 'Meerut' 'Agra' 'Surat' 'Faridabad' 'Hyderabad' 'Srinagar' 'Ghaziabad'
 'Kolkata' 'Chennai' 'Kalyan' 'Nagpur' 'Vadodara' 'Vasai-Virar' 'Delhi'
 'Bhopal' 'Indore' 'Ishanabad' 'Vidhi' 'Ayush' 'Gurgaon' 'Krishna'
 'Aishwarya' 'Keshav' 'Harsha' 'Nalini' 'Aditya' 'Malyansh' 'Raghavendra'
 'Saanvi' 'M.Tech' 'Bhavna' 'Less Delhi' 'Nandini' 'M.Com' 'Plata'
 'Atharv' 'Pratyush' 'City' '3.0' 'Less than 5 Kalyan' 'MCA' 'Mira'
 'Moreadhyay' 'Morena' 'Ishkarsh' 'Kashk' 'Mihir' 'Vidya' 'Tolkata' 'Anvi'
 'Krinda' 'Ayansh' 'Shrey' 'Ivaan' nan]

In [268]:
import numpy as np

# Given list
city_list = np.array(uniq)  # np.nan included

# Remove NaN values and create dictionary
city_dict = {city: index for index, city in enumerate(city_list) if isinstance(city, str)}

# Print the dictionary
print(city_dict)
df["City"]=df["City"].map(city_dict)

{'Ludhiana': 0, 'Varanasi': 1, 'Visakhapatnam': 2, 'Mumbai': 3, 'Kanpur': 4, 'Ahmedabad': 5, 'Thane': 6, 'Nashik': 7, 'Bangalore': 8, 'Patna': 9, 'Rajkot': 10, 'Jaipur': 11, 'Pune': 12, 'Lucknow': 13, 'Meerut': 14, 'Agra': 15, 'Surat': 16, 'Faridabad': 17, 'Hyderabad': 18, 'Srinagar': 19, 'Ghaziabad': 20, 'Kolkata': 21, 'Chennai': 22, 'Kalyan': 23, 'Nagpur': 24, 'Vadodara': 25, 'Vasai-Virar': 26, 'Delhi': 27, 'Bhopal': 28, 'Indore': 29, 'Ishanabad': 30, 'Vidhi': 31, 'Ayush': 32, 'Gurgaon': 33, 'Krishna': 34, 'Aishwarya': 35, 'Keshav': 36, 'Harsha': 37, 'Nalini': 38, 'Aditya': 39, 'Malyansh': 40, 'Raghavendra': 41, 'Saanvi': 42, 'M.Tech': 43, 'Bhavna': 44, 'Less Delhi': 45, 'Nandini': 46, 'M.Com': 47, 'Plata': 48, 'Atharv': 49, 'Pratyush': 50, 'City': 51, '3.0': 52, 'Less than 5 Kalyan': 53, 'MCA': 54, 'Mira': 55, 'Moreadhyay': 56, 'Morena': 57, 'Ishkarsh': 58, 'Kashk': 59, 'Mihir': 60, 'Vidya': 61, 'Tolkata': 62, 'Anvi': 63, 'Krinda': 64, 'Ayansh': 65, 'Shrey': 66, 'Ivaan': 67}

In [270]:
df.head()

,Gender,Age,City,Working Professional or Student,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Job/study Satisfaction,Academic/Work_Pressure
0,Female,49.0,0.0,1.0,3.0,3.0,BHM,0.0,1.0,2.0,0.0,0.0,2.0,5.0
1,Male,26.0,1.0,1.0,1.0,1.0,LLB,1.0,7.0,3.0,0.0,1.0,3.0,4.0
2,Male,33.0,2.0,0.0,2.0,3.0,B.Pharm,1.0,3.0,1.0,0.0,1.0,2.0,5.0
3,Male,22.0,3.0,1.0,1.0,2.0,BBA,1.0,10.0,1.0,1.0,1.0,1.0,5.0
4,Female,30.0,4.0,1.0,2.0,1.0,BBA,1.0,9.0,4.0,1.0,0.0,1.0,1.0

In [272]:
uniq=unique_values = df['Degree'].unique()
print(uniq)

['BHM' 'LLB' 'B.Pharm' 'BBA' 'MCA' 'MD' 'BSc' 'ME' 'B.Arch' 'BCA' 'BE'
 'MA' 'B.Ed' 'B.Com' 'MBA' 'M.Com' 'MHM' 'BA' 'Class 12' 'M.Tech' 'PhD'
 'M.Ed' 'MSc' 'B.Tech' 'LLM' 'MBBS' 'M.Pharm' 'UX/UI Designer' 'MPA' 'BH'
 'Nalini' 'BEd' 'B.Sc' 'Veda' 'Bhopal' 'S.Tech' 'Degree' '20' 'Class 11'
 'H_Pharm' 'M' 'P.Com' 'BPharm' 'Business Analyst' 'M.Arch' 'LL.Com'
 'Data Scientist' 'MPharm' 'L.Ed' 'P.Pharm' 'Kalyan' 'Unite' 'BArch'
 'HR Manager' 'Badhya' 'S.Pharm' 'LLBA' 'Vrinda' 'M. Business Analyst'
 'Bhavesh' '0' 'LLCom' '29' 'MTech' 'Vivaan' 'BPA' 'Plumber' '5.61' 'Brit'
 'B.03' 'Ritik' '5.56' 'MEd' 'B' 'B BA' '7.06' nan]

In [278]:
degree_list = np.array(uniq)  # np.nan included

# Remove NaN values and create dictionary
degree_dict = {degree: index for index, degree in enumerate(degree_list) if isinstance(degree, str)}

# Print the dictionary
print(degree_dict)
df["Degree"]=df["Degree"].map(degree_dict)

{'BHM': 0, 'LLB': 1, 'B.Pharm': 2, 'BBA': 3, 'MCA': 4, 'MD': 5, 'BSc': 6, 'ME': 7, 'B.Arch': 8, 'BCA': 9, 'BE': 10, 'MA': 11, 'B.Ed': 12, 'B.Com': 13, 'MBA': 14, 'M.Com': 15, 'MHM': 16, 'BA': 17, 'Class 12': 18, 'M.Tech': 19, 'PhD': 20, 'M.Ed': 21, 'MSc': 22, 'B.Tech': 23, 'LLM': 24, 'MBBS': 25, 'M.Pharm': 26, 'UX/UI Designer': 27, 'MPA': 28, 'BH': 29, 'Nalini': 30, 'BEd': 31, 'B.Sc': 32, 'Veda': 33, 'Bhopal': 34, 'S.Tech': 35, 'Degree': 36, '20': 37, 'Class 11': 38, 'H_Pharm': 39, 'M': 40, 'P.Com': 41, 'BPharm': 42, 'Business Analyst': 43, 'M.Arch': 44, 'LL.Com': 45, 'Data Scientist': 46, 'MPharm': 47, 'L.Ed': 48, 'P.Pharm': 49, 'Kalyan': 50, 'Unite': 51, 'BArch': 52, 'HR Manager': 53, 'Badhya': 54, 'S.Pharm': 55, 'LLBA': 56, 'Vrinda': 57, 'M. Business Analyst': 58, 'Bhavesh': 59, '0': 60, 'LLCom': 61, '29': 62, 'MTech': 63, 'Vivaan': 64, 'BPA': 65, 'Plumber': 66, '5.61': 67, 'Brit': 68, 'B.03': 69, 'Ritik': 70, '5.56': 71, 'MEd': 72, 'B': 73, 'B BA': 74, '7.06': 75}

In [280]:
df.head()

,Gender,Age,City,Working Professional or Student,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Job/study Satisfaction,Academic/Work_Pressure
0,Female,49.0,0.0,1.0,3.0,3.0,0.0,0.0,1.0,2.0,0.0,0.0,2.0,5.0
1,Male,26.0,1.0,1.0,1.0,1.0,1.0,1.0,7.0,3.0,0.0,1.0,3.0,4.0
2,Male,33.0,2.0,0.0,2.0,3.0,2.0,1.0,3.0,1.0,0.0,1.0,2.0,5.0
3,Male,22.0,3.0,1.0,1.0,2.0,3.0,1.0,10.0,1.0,1.0,1.0,1.0,5.0
4,Female,30.0,4.0,1.0,2.0,1.0,3.0,1.0,9.0,4.0,1.0,0.0,1.0,1.0

In [282]:
gender_map={"Female":0, "Male":1}
df["Gender"]=df["Gender"].map(gender_map)

In [306]:
df.head()

,Gender,Age,City,Working Professional or Student,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Job/study Satisfaction,Academic/Work_Pressure,target
0,0.0,49.0,0.0,1.0,3.0,3.0,0.0,0.0,1.0,2.0,0.0,0.0,2.0,5.0,0
1,1.0,26.0,1.0,1.0,1.0,1.0,1.0,1.0,7.0,3.0,0.0,1.0,3.0,4.0,1
2,1.0,33.0,2.0,0.0,2.0,3.0,2.0,1.0,3.0,1.0,0.0,1.0,2.0,5.0,1
3,1.0,22.0,3.0,1.0,1.0,2.0,3.0,1.0,10.0,1.0,1.0,1.0,1.0,5.0,1
4,0.0,30.0,4.0,1.0,2.0,1.0,3.0,1.0,9.0,4.0,1.0,0.0,1.0,1.0,0

In [314]:
X = df.drop(columns=['target'])
y = df['target']

In [316]:
X

,Gender,Age,City,Working Professional or Student,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Job/study Satisfaction,Academic/Work_Pressure
0,0.0,49.0,0.0,1.0,3.0,3.0,0.0,0.0,1.0,2.0,0.0,0.0,2.0,5.0
1,1.0,26.0,1.0,1.0,1.0,1.0,1.0,1.0,7.0,3.0,0.0,1.0,3.0,4.0
2,1.0,33.0,2.0,0.0,2.0,3.0,2.0,1.0,3.0,1.0,0.0,1.0,2.0,5.0
3,1.0,22.0,3.0,1.0,1.0,2.0,3.0,1.0,10.0,1.0,1.0,1.0,1.0,5.0
4,0.0,30.0,4.0,1.0,2.0,1.0,3.0,1.0,9.0,4.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63149,0.0,60.0,11.0,1.0,1.0,3.0,22.0,1.0,0.0,4.0,1.0,0.0,4.0,1.0
63150,0.0,58.0,21.0,1.0,1.0,2.0,16.0,1.0,1.0,1.0,0.0,0.0,2.0,4.0
63151,0.0,22.0,18.0,1.0,NaN,1.0,2.0,1.0,11.0,2.0,0.0,0.0,5.0,4.0
63152,0.0,20.0,23.0,0.0,2.0,2.0,18.0,0.0,10.0,3.0,0.0,0.0,5.0,4.0
63153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [318]:
y

0        0
1        1
2        1
3        1
4        0
        ..
63149    0
63150    0
63151    0
63152    0
63153    2
Name: target, Length: 63154, dtype: int64

In [328]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [330]:
X_train

,Gender,Age,City,Working Professional or Student,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Job/study Satisfaction,Academic/Work_Pressure
15459,0.0,19.0,3.0,0.0,2.0,2.0,18.0,1.0,9.0,5.0,0.0,1.0,4.0,4.0
35445,1.0,36.0,15.0,1.0,3.0,3.0,1.0,1.0,3.0,4.0,1.0,0.0,2.0,3.0
53226,1.0,59.0,5.0,1.0,3.0,2.0,21.0,0.0,11.0,1.0,1.0,0.0,1.0,2.0
4589,1.0,18.0,27.0,1.0,3.0,1.0,18.0,1.0,10.0,5.0,0.0,1.0,5.0,5.0
33322,1.0,32.0,10.0,0.0,2.0,3.0,17.0,1.0,11.0,4.0,1.0,1.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62570,0.0,51.0,9.0,1.0,3.0,2.0,26.0,0.0,2.0,5.0,1.0,0.0,3.0,3.0
38158,0.0,49.0,23.0,1.0,2.0,2.0,2.0,0.0,9.0,2.0,1.0,0.0,2.0,5.0
860,0.0,47.0,28.0,1.0,1.0,2.0,7.0,1.0,11.0,1.0,1.0,0.0,5.0,1.0
15795,0.0,23.0,9.0,0.0,1.0,1.0,6.0,0.0,4.0,5.0,1.0,1.0,5.0,5.0
56422,1.0,34.0,27.0,1.0,2.0,3.0,6.0,0.0,7.0,5.0,0.0,0.0,1.0,3.0

In [332]:
from xgboost import XGBClassifier

model = XGBClassifier(n_estimators=100, learning_rate=0.1, max_depth=5, random_state=42)
model.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.1, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=5, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              objective='multi:softprob', predictor=None, ...)

In [333]:
from sklearn.metrics import accuracy_score, classification_report, roc_auc_score

y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("ROC AUC Score:", roc_auc_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 1.0
ROC AUC Score: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     15528
           1       1.00      1.00      1.00      3419

    accuracy                           1.00     18947
   macro avg       1.00      1.00      1.00     18947
weighted avg       1.00      1.00      1.00     18947